<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggccnu.tinynote" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".view.SplashActivity"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.YearActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.WriteNoteActivity" >
        </activity>
        <activity
            android:name=".view.EditNoteActivity" >
        </activity>
        <activity
            android:name=".view.ModifyNoteActivity" >
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask" >
        </activity>

        <activity android:name=".view.MonthActivity"
            android:launchMode="singleTop">
        </activity>

        <service
            android:name="com.ggccnu.tinynote.update.DownloadService"
            android:exported="true"
            android:permission="whats" />

    </application>

</manifest>
